* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.inner-container,
.inner-containers {
    width: 95%;
    height: 93vh;
    border-radius: 7px;
}

.inner-container {
    display: grid;
    grid-template-rows: 15% 85%;
}

.inner-container-top {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 5rem;
}

.inner-container-down .table {
    margin: 0 auto;
}

.inner-container-top button {
    outline: none;
    border: none;
    padding: 0.8rem 1.9rem;
    border-radius: 5px;
    font-weight: bold;
    background: #4deeea;
    cursor: pointer;
    transition: all 0.1s linear;
}

.inner-container-top button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inner-container-down .table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

.inner-container-down .table thead tr th,
.table tbody tr td {
    padding: 1rem;
}

.table thead tr th:nth-child(1) {
    border-bottom: 2px solid #f000ff;
    color: #f000ff;
}

.table thead tr th:nth-child(2) {
    border-bottom: 2px solid #4deeea;
    color: #4deeea;
}

.delete,
.edit {
    cursor: pointer;
}

.table tbody {
    color: black;
}

.table tbody tr td:nth-child(1) {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.containers {
    width: 100%;
    height: 100vh;
    background-color: #0496c5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-containers {
    width: 400px;
    height: 650px;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 8% 32% 30% 37%;
}

.inner-containers .all-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    outline: none;
    border: none;
    padding: 0.7rem 2rem;
    background-color: rgb(216, 214, 214);
    border-radius: 5px;
    color: black;
}

button {
    outline: none;
    border: none;
    padding: 0.7rem 1.7rem;
    border-radius: 5px;
    font-weight: bold;
    background: #4deeea;
    cursor: pointer;
    transition: all 0.1s linear;
}

.change-btn {
    width: 155px;
    background-color: #4deeea;
}

.btn {
    margin: 2rem 38%;
}

ul li {
    list-style: none;
    font-size: 13px;
    display: flex;
    gap: 0.7rem;
}

.topics {
    text-align: center;
    padding: 5rem 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.input2,
.input3 {
    visibility: hidden;
}

.icon {
    padding: 1rem 1rem;
}

.option-remove-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    margin: 0 0.5rem;
}

.edit-start {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-start .edit-inner {
    width: 95%;
    height: 97vh;
    padding: 0 2rem;
}

.edit-inner .edit-box .quiz-name label {
    padding: 0 0.5rem;
}

.edit-inner .edit-box .quiz-name input {
    background-color: aliceblue;
    width: 30%;
}

.edit-inner .edit-box .add-quiz button {
    background-color: red;
    color: white;
    margin: 1.2rem 27rem;
}

.edit-inner .edit-box .generate-question button,
.submit-button button {
    background-color: red;
    color: white;
    margin: 0 1rem;
}

.generate-question {
    position: relative;
}

.edit-inner .edit-box .generate-question input {
    background-color: aliceblue;
    width: 37%;
    margin: 1rem 0;
}

.generate-question .options input:nth-child(2) {
    width: 10%;
}

.generate-question .options input:nth-child(1) {
    width: 20px;
}

.submit-button button {
    background-color: red;
    color: white;
    margin: 4rem 0;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container {
    width: 95%;
    height: 92vh;
    background-color: skyblue;
    overflow-y: scroll;
    padding: 0 2rem;
}

.options {
    padding: 1rem 0;
}

.questionbox {
    width: 500px;
}